/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content img
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.44)

.theme-default-content .card img
  box-shadow: none

.theme-default-content h2
  border-bottom: 1px solid #681726

.navbar
  background-color: #681726

.navbar .links
  background-color: #681726!important
  color: #ffff!important

.navbar .links a:hover
  color: #ae8644!important
  border-bottom: none!important

.dropdown-wrapper .title
  color: #ffff!important

.nav-links a:hover .nav-links a.router-link-active
  background-color: #ae8644!important

.navbar .links .router-link-active
  color: #ae8644!important
  border-bottom: none!important

.navbar .site-name
  color: #ffff!important

.dropdown-item
  color: #681726!important


