/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content img
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.44)

.theme-default-content .card img
  box-shadow: none

.theme-default-content h2
  border-bottom: 1px solid #681726